UnityProject/Logs/*
UnityProject/Logs/*
UnityProject/Library/*
UnityProject/Temp/*
UnityProject/Obj/*
UnityProject/Build/*
UnityProject/Builds/*
UnityProject/Packages/*
UnityProject/Assets/StreamingAssets/etmain/pak0.pk3
UnityProject/Assets/StreamingAssets/etmain/pak0.pk3.meta
UnityProject/Assets/StreamingAssets/etmain/pak1.pk3
UnityProject/Assets/StreamingAssets/etmain/pak1.pk3.meta
UnityProject/Assets/StreamingAssets/etmain/pak2.pk3
UnityProject/Assets/StreamingAssets/etmain/pak2.pk3.meta
.claude/
